#cardWrapper {
    height: calc(100vh - 70px);
    width: 95vw;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 40px;
    padding: 30px;
    flex-wrap: wrap;
    
    /* background-image: url("/src/media/light-blue.jpg"); */
    
  }
  #cardContainer {
    /* border: 1px solid  black; */
    min-height: 150px;
    min-width: 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(188, 188, 189);
  }
  #cardContainer > .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
  }
  #cardContainer > .btnContainer > button {
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid rgba(156, 156, 156, 0.781);
    font-weight: 600;
  }
  #cardContainer > .btnContainer > button:first-of-type:hover {
    background-color: #9da0a0;
    color: black;
    transform: scale(1.1);
    transition: 0.5s;
  }
  #cardContainer > .btnContainer > button:last-of-type:hover {
    background-color: rgb(203, 45, 17);
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
  